<!-- sidebar start -->
<aside>
  {{ with .Site.GetPage "/menu/header" }}
    {{- $href := printf "href=\"%s\"" $.RelPermalink -}}
    {{- replace .Content $href (print $href "class=active") | safeHTML -}}
  {{ end }}

  <ul>
    {{ $currentPage := . }}
    {{ $visibleMenuItems := (where (where .Site.Menus.navmenu "Page" "!=" nil) "Weight" "gt" 0 ) }}
    {{ range (sort (sort $visibleMenuItems "Page.Weight") "Weight") }}
      {{ template "sidebar-menu-item" (dict "context" .
                                            "currentPage" $currentPage
                                      ) }}
    {{ end }}
  </ul>

  {{ with .Site.GetPage "/menu/footer" }}
    {{- $href := printf "href=\"%s\"" $.RelPermalink -}}
    {{- replace .Content $href (print $href "class=active") | safeHTML -}}
  {{ end }}
</aside>

{{ define "sidebar-menu-item" }}
  {{ $id := .context.Identifier | default (md5 .context.URL) }}
  {{ $inputId := print "input-" $id }}
  {{ $active := .currentPage.IsMenuCurrent "navmenu" .context }}
  <!-- hasactive is false if it is active -->
  {{ $hasactive := cond $active false (.currentPage.HasMenuCurrent "navmenu" .context) }}
  <li id='{{ print "menuitem-" $id }}'>
      <!-- `with` dereferences `.Page` so that an error doesn't occur if it is null -->
    {{ $pageViaMenu := .context.Page }} {{ with .context.Page }}{{ $pageViaMenu = .Page }}{{ end }}
    {{ if (and .context.HasChildren $pageViaMenu.Params.menu.navmenu.collapsible) }}
      <input type="checkbox" id="{{ $inputId }}" class="toggle" {{ if or $active $hasactive }} checked{{ end }} />
    {{ end }}
    <label for="{{ $inputId }}" class="flex justify-between {{ if $hasactive }}hasactive{{ end }} {{ if $active }}active{{ end }}">
      <a href="{{ .context.URL }}" class="{{ if $hasactive }}hasactive{{ end }} {{ if $active }}active{{ end }}">
        {{ with .context }}
          {{- .Name | default .Title | default .Identifier | default .URL -}}
        {{ end }}
      </a>
    </label>

    {{ if .context.HasChildren }}
      <ul class="sub-menu">
        {{ $currentPage := .currentPage }}
        {{ $visibleMenuItems := (where .context.Children "Weight" "ge" 0 ) }}
        {{ range (sort (sort $visibleMenuItems "Page.Weight") "Weight") }}
          {{ template "sidebar-menu-item" (dict "context" .
                                                "currentPage" $currentPage
                                          ) }}
        {{ end }}
      </ul>
    {{ end }}
  </li>
{{ end }}